.publications-background {
  background: 
  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url('../assets/imgs/Fondo-galleria.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.publications-title {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.publications-filters * {
  background-color: #0e2e3c;
  color: white !important;
  fill: white !important;
}

.publications-filters:hover *,
.publications-filters:focus * {
  background-color: #14506d !important;
  color: white !important;
  fill: white !important;
}

.publications-filters.show * {
  background-color: #0e2e3c !important;
}